<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 输出: 一个是控制台一个是系统文件-->
    <appender name = "CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <!-- 输出流对象 默认 System.out 改为 System.err -->
        <target>System.out</target>
        <encoder>
            <!-- 格式化输出 %d 表示日期, %thread 表示线程, %-5level 级别从左显示5个字符宽度 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level]  %c [%thread] : %msg%n</pattern>
        </encoder>
    </appender>

    <!-- file 是输出的方向通向文件的 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!-- 日志输出路劲   配置的有问题,,不会生成文件....-->
        <!-- 哪里错了不晓得,,,后面 在学,回头在该........ -->
        <file>~/java-study/Study-java/javabaselearn/src-/log-data.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 通过指向压缩文件名,来确定分割方式 -->
            <fileNamePattern>~/java-study/Study-java/javabaselearn/src/log-data2-%d{yyyy-MMdd}.log%i.gz</fileNamePattern>
            <!-- 文件拆分大小 -->
            <maxFileSize>4MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <root level="ALL">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
